<div style="font-size:20px;position:relative;top:200px;">
  <center>
    <table width="80%" border="0">
    <tr>
      <td>
        <div style="font-size:24px;text-shadow:2px 2px 5px black;">
          <div>
            
          </div>
          <div>
            I'm currently based in Hyderabad, India.
          After nearly 6 years in appication development, I've realized web development is what I love more.
          I read books, work on craft projects and try to venture into newer tech like Big Data.
          </div>
        </div>
      </td>
    </tr>
  </table>

  </center>
</div>
