<div style="font-size:20px;position:relative;top:200px;">
  <center>
    <table width="80%" border="0">
    <tr>
      <td>
        <div style="font-size:24px;text-shadow:2px 2px 5px black;">
          <div>
            
          </div>
          <div style="text-indent:50px;">
            I graduated in electronics in the year 2010. 
            I have worked for American Healthcare domain for nearly 4 years and am currenlty working in the Banking and Finance domain for a notable consulting firm.
            I have handled projects that involve health claims processing, mutual fund investments and beautiful and dynamic web pages. 
          </div>
          <div style="text-indent:50px;">
            After nearly 6 years in appication development, I've realized web development is what I love more. 
            I'm currently based in Hyderabad, India. 
            When I'm not working on web projects, I read books, work on craft projects and try to venture into newer tech like Big Data.
          </div>
        </div>
      </td>
    </tr>
  </table>

  </center>
</div>
