<div style="font-size:24px;position:relative;top:200px;align:center;text-shadow:2px 2px 2px black;">
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td width="40%" align="right">
        <div style="padding-right:50px;">
          Get in touch with me :<br>
        anil.beeram.kumar@gmail.com<br>
        +91 7095099078
        </div>
      </td>
      <td width="60%" style="border-left:4px solid yellow;">
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="30%" align="right" style="padding-right:25px;">Name :</td>
            <td style="height:3em;">
            <input type="text" name="visitorName" id="visitorName" placeholder="Your name" style="width:20em;height:3em;border-radius:5px;border:none;box-shadow:2px 2px 5px black;"/></td>
          </tr>
          <tr>
            <td align="right" style="padding-right:25px;">Email :</td>
            <td style="height:3em;">
            <input type="text" name="visitorName" id="visitorEmail" placeholder="Your email" style="width:20em;height:3em;border-radius:5px;border:none;box-shadow:2px 2px 5px black;"/></td>
          </tr>
          <tr>
            <td align="right" style="padding-right:25px;">Comment :</td>
            <td style="height:4em;">
            <textarea rows="8" cols="60" name="visitorComment" id="visitorComment" placeholder="I'd love to hear from you" style="border-radius:5px;border:none;box-shadow:2px 2px 5px black;"/>
            <button class="button">Contact Me</button>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
