<div style="font-size:24px;position:relative;top:200px;align:"center">
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td width="35%" align="right">
        <div style="padding-right:25px;">
          Get in touch with me :<br>
        anil.beeram.kumar@gmail.com<br>
        +91 7095099078
        </div>
      </td>
      <td width="65%">
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="30%" align="right">Name :</td>
            <td><input type="text" name="visitorName" id="visitorName" placeholder="Your name"/></td>
          </tr>
          <tr>
            <td align="right">Email :</td>
            <td><input type="text" name="visitorName" id="visitorEmail" placeholder="Your email"/></td>
          </tr>
          <tr>
            <td align="right">Comment :</td>
            <td><textarea rows="4" cols="50" name="visitorComment" id="visitorComment" placeholder="I'd love to hear from you"/></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
