<div style="font-size:24px;position:relative;top:200px;">
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="25%" align="right">
        Get in touch with me :
        anil.beeram.kumar@gmail.com
        +91 7095099078
      </td>
      <td>
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>Name :</td>
            <td><input type="text" name="visitorName" id="visitorName" placeholder="Your name"/></td>
          </tr>
          <tr>
            <td>Email :</td>
            <td><input type="text" name="visitorName" id="visitorEmail" placeholder="Your email"/></td>
          </tr>
          <tr>
            <td>Comment :</td>
            <td><textarea rows="4" cols="50" name="visitorComment" id="visitorComment" placeholder="I'd love to hear from you"/></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
