<table width="100%" border="0" style="position:relative;top:150px;">
  <tr>
    <td width="33%" align="center">
      <div class="craft-box">
        <img src="images/1.jpg" class="craft-thumbnail-1" />
        <img src="images/IMG_0777.jpg" class="craft-thumbnail-detail-1" />
      </div>
      <div class="craft-info">A simple passenger ship</div>
    </td>
    <td width="33%" align="center">
      <img src="images/2.jpg" class="craft-thumbnail-2" />
        <img src="images/IMG_8735.JPG" class="craft-thumbnail-detail-2" />
      <div class="craft-info">The London Tower Bridge</div>
    </td>
    <td width="33%" align="center">
      <img src="images/3.jpg" class="craft-thumbnail-3" />
        <img src="images/IMG_7373.JPG" class="craft-thumbnail-detail-3" />
      <div class="craft-info">The Eiffel Tower</div>
    </td>
  </tr>
</table>
